<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Semester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        <li class="nav-item">
            <a class="nav-link" href="/allcourses">All Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/currentsemester">Courses in Current Semester</a>
        </li>
    </ul>
</nav>
<div class="jumbotron">
    <h1 class="text-black-50 text-center display-3">Current Semester Courses</h1>
</div>
<!--add th:object for the class-->
<div>
    <ul class="list-group">
        <li>Course</li>
        <li class="list-group-item">
            <!--add th: field for course number-->
            <span> ENG 101 </span>
            <!--add th:field for the class name-->
            <span> Freshman Composition </span>
            <!--add th:field for the credits-->
            <span> 3 </span>
            <!--add th:field for the department-->
            <span> English Department </span>
        </li>
        <li>Class</li>
        <!--add th: object for class-->
        <li class="list-group-item">
            <!--add th: field for crn-->
            <span> 78567 </span>
            <!--add th:field for the class time-->
            <span> MWF 8am </span>
            <!--add th:field for the instructor-->
            <span> Dave Wolf </span>
            <!--add th:field for the classroom-->
            <span> Humanities Bldg Rm 321 </span>
        </li>
        <li>Instructor</li>
        <!--add th: object for instructor-->
        <li class="list-group-item">
            <!--add th: field for instructor id-->
            <span> 8675309 </span>
            <!--add th:field for the instructor name-->
            <span> Dave Wolf</span>
            <!--add th:field for the department-->
            <span> English Department </span>
            <!--add th:field for the office-->
            <span> Office HU322 </span>
        </li>
    </ul>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>